/*!
* Typography
*/

@mixin title($color, $font-family)
{
  font-family: $font-family;
  font-weight: $font-weight-reg!important;
  color: $color;
}

@mixin col-flex {
  display: flex;
  flex-direction: column;
}

@mixin row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin paragraph($color, $font-weight) {
  font-size: 1.8rem !important;
  font-family: $default-font;
}
