$primary-color : #49BFC7;
$light-color: #d2d2d2;
$secondary-text: #8e8e8e;
$dark-color : #1D1D1D;
$primary-font: 'Alice', serif;

/* Colors */

$accent: #49BFC7;

$accent-darker-10: #42acb3;
$accent-darker-20: #3a999f;
$accent-darker-30: #33868b;
$accent-darker-40: #2c7377;
$accent-darker-50: #256064;
$accent-darker-60: #1d4c50;
$accent-darker-70: #16393c;
$accent-darker-80: #0f2628;
$accent-darker-90: #071314;

$accent-lighter-10: #5bc5cd;
$accent-lighter-20: #6dccd2;
$accent-lighter-30: #80d2d8;
$accent-lighter-40: #92d9dd;
$accent-lighter-50: #a4dfe3;
$accent-lighter-60: #b6e5e9;
$accent-lighter-70: #c8ecee;
$accent-lighter-80: #dbf2f4;
$accent-lighter-90: #edf9f9;

$primary: #1d1d1d; // background color

$primary-lighter-10: #343434;
$primary-lighter-20: #4a4a4a;
$primary-lighter-30: #616161;
$primary-lighter-40: #777777;
$primary-lighter-50: #8e8e8e; // subtitle color
$primary-lighter-60: #a5a5a5;
$primary-lighter-70: #bbbbbb;
$primary-lighter-80: #d2d2d2;

$light: #e8e8e8; // light color = $primary-lighter-90

/* Typography */

$accent-font: 'Alice', serif;
$default-font: 'Fira Code', monospace;

$line-height-xs: 5rem;
$line-height-sm: 7rem;
$line-height-md: 7.5rem;
$line-height-lg: 8rem;
$line-height-xl: 9.5rem;

$font-weight-reg: 400;
$font-weight-light: 300;
$font-weight-bold: 600;
