/* Colors */

$accent: #49BFC7;

$accent-darker-10: #42acb3; // Copyright text
$accent-darker-50: #256064;
$accent-lighter-90: #edf9f9; // Navbar bg

$primary: #1d1d1d; // background color
$primary-lighter-50: #8e8e8e; // subtitle color
$primary-lighter-80: #d2d2d2;
$primary-opacity-80: rgba(29, 29, 29, .8);

$light: #e8e8e8; // light color = $primary-lighter-90

/* Typography */

$accent-font: 'Alice', serif;
$default-font: 'Fira Code', monospace;

$line-height-xxs: 3rem;
$line-height-xs: 5rem;
$line-height-sm: 7rem;
$line-height-md: 7.5rem;
$line-height-lg: 8rem;
$line-height-xl: 9.5rem;

$font-weight-reg: 400;
$font-weight-light: 300;
$font-weight-bold: 500;

/* Form */

$form-check-input-checked-bg-color: $accent;
$form-check-input-width:  0.8em;
$form-check-padding-start: 0;
