@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
  font-size: 10px!important; // 1rem = 10px
}

body, html {
  height: 100vh;
  overflow: hidden;
}

body {
  background: url('../images/dark-background.svg') no-repeat center center fixed;
  background-size: cover;
  color: $light-color;
  font-family: $default-font;
}

@media screen and (max-width: 576px) {
  .col-12 {
    justify-content: center;
    text-align: center;
  }
}
