.description {
  font-size: 1.8rem!important;
  font-family: $default-font;
  font-weight: 300;
  color: $primary-lighter-70;
  line-height: 3rem;
}

@include bp-up(lg) {
  .description {
    font-size: 2.5rem;
  }
}
