.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: $primary;
  color: $light;
  border-radius: .5rem;
  padding: .5rem 1rem .3rem;
  font-size: 1.5rem;
  font-family: $code-font;

}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: .5rem;
  border-color: $dark-color;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: .3rem;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: .5rem .5rem 0 .5rem;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -.5rem;
  left: calc(50% - .5rem);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
