@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$primary-color : #49BFC7;
$light-color: #fff;
$secondary-text: #797979;
$dark-color : #1D1D1D;
$primary-font: 'Alice', serif;
$default-font: 'Open Sans', sans-serif;
