html {
  font-size: 10px!important; // 1rem = 10px
}

body, html {
  height: 100%;
  background-color: $primary;
}

body {
  background: url('../../images/dark-background.svg') no-repeat center center fixed;
  background-size: cover;
  color: $primary-lighter-80;
  font-family: $default-font;
  font-size: 2rem;
  // overflow: hidden;
}

.row {
  --bs-gutter-y: 1.5rem;
  width: 100%;
}

.row > * {
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}

@include bp-down(sm) {
  .col-12 {
    justify-content: center;
    text-align: center;
  }
}

