.nav-item a {
  font-size: 3rem;
  list-style: none;
  &:hover,
  &.nuxt-link-exact-active {
    color: $accent!important;
  }
}

@include bp-up(lg) {
  .nav-item a {
    font-size: 5rem;
    list-style: none;
    &:hover,
    &.nuxt-link-exact-active {
      color: $accent !important;
    }
  }
}

ul {
 list-style-type : none;
}
